[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
faker = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-bootstrap = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-ckeditor = "*"
flask-moment = "*"

[requires]
python_version = "3.7"
